{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "energy_meter_app/admin_navbar/header.html" %}
<body>
  {% include "energy_meter_app/admin_navbar/navbar.html" %}
  {% include "energy_meter_app/admin_navbar/aside.html" %}
  
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Report Of Energy Meters</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}">Home</a></li>
          <li class="breadcrumb-item">Meters</li>
          <li class="breadcrumb-item active">Energy Meter's Report</li>
        </ol>
      </nav>
    </div>
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Select Report Date Range</h5>

                <form class="row g-3" method="POST">
                  {% csrf_token %}
                  <div class="col-md-6">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" name="start_date" id="start_date" class="form-control" required>
                  </div>
                  <div class="col-md-6">
                    <label for="end_date" class="form-label">End Date</label>
                    <input type="date" name="end_date" id="end_date" class="form-control" required>
                  </div>
                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Energy Meter's Report</h5>
    
                        {% if show_table and meters %}
                        <table class="table datatable table-sm">
                            <thead>
                                <tr>
                                    <th>Serial Number</th>
                                    <th>Owner Name</th>
                                    <th>National Id</th>
                                    <th>Phone No</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for meter in meters %}
                                <tr>
                                    <td>{{ meter.serial_number }}</td>
                                    <td>{{ meter.owner.name }}</td>
                                    <td>{{ meter.owner.national_id }}</td>
                                    <td>{{ meter.owner.phone_number }}</td>
                                    <td>{{ meter.created_at }}</td>
                                    <td>{{ meter.updated_at }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No users found for the selected date range.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>   
     
  </main>
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
