{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "energy_meter_app/admin_navbar/header.html" %}

<body>

  {% include "energy_meter_app/admin_navbar/navbar.html" %}

  {% include "energy_meter_app/admin_navbar/aside.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ request.user.status|default:'Admin' }} Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

    {% if messages %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show text-center" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    
    <section class="section dashboard">
      <div class="row">

        <div class="col-lg-12">
          <div class="row">

            <div class="col-xxl-4 col-md-4 ">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start"><h6>Filter</h6></li>
                    <li><a class="dropdown-item" href="?meter_filter=today&user_filter={{ user_filter }}&data_filter={{ data_filter }}">Today</a></li>
                    <li><a class="dropdown-item" href="?meter_filter=this_month&user_filter={{ user_filter }}&data_filter={{ data_filter }}">This Month</a></li>
                    <li><a class="dropdown-item" href="?meter_filter=this_year&user_filter={{ user_filter }}&data_filter={{ data_filter }}">This Year</a></li>
                    <li><a class="dropdown-item" href="?meter_filter=all&user_filter={{ user_filter }}&data_filter={{ data_filter }}">All Time</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title"><span>Total |</span> Meter</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-speedometer2"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ total_meters }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start"><h6>Filter</h6></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter=today&data_filter={{ data_filter }}">Today</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter=this_month&data_filter={{ data_filter }}">This Month</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter=this_year&data_filter={{ data_filter }}">This Year</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter=all&data_filter={{ data_filter }}">All Time</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title"><span>Users |</span> Total</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ total_users }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xxl-4 col-md-4">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start"><h6>Filter</h6></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter={{ user_filter }}&data_filter=today">Today</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter={{ user_filter }}&data_filter=this_month">This Month</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter={{ user_filter }}&data_filter=this_year">This Year</a></li>
                    <li><a class="dropdown-item" href="?meter_filter={{ meter_filter }}&user_filter={{ user_filter }}&data_filter=all">All Time</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title"><span>Total |</span> Data</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-database-fill-gear"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ total_data_entries }}</h6>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>
  </main>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>