
{% load static %}
{% block content %}
<li class="nav-item dropdown pe-3">
    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="{% static 'assets/img/default-user.png' %}" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block dropdown-toggle ps-2">
            {{ request.user.username|default:'User' }}
        </span>
    </a>

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header">
            <h6>
                {% if request.user.is_superuser %}
                    Administrator
                {% else %}
                    {% with profile=user_profile %}
                        {% if profile %}
                            {{ profile.status|title }}
                        {% else %}
                            Client
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </h6>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <form method="POST" action="{% url 'logout' %}" id="logout-form">
                {% csrf_token %}
                <a class="dropdown-item d-flex align-items-center" href="#" 
                   onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                </a>
            </form>
        </li>
    </ul>
</li>
{% endblock content %}